
// define colors 
$primaryColor:   #ff6600;
$secondaryColor: #2d0e4a;


.slide_wrapper {
    .slide:first-child {
        // background-color: $secondaryColor;
    }
    
    .slide:nth-child(2) {
        // background-color: $primaryColor;
    }
    
    .slide {
        color: #111111;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start !important;
        
        // align-items: flex-start !important;
        
        & > .slide_inner {
            margin-top: 70px;
            // outline: 5px solid red;
            // height: 400px;
        }
    }

    .slide_footer {
        color: red;
    }

    .slide_page { 
        color: red ; //!important;
        // outline: 1px solid red;
        display: block;
    }
}

.markdown-body {
    h2, h3 { 
        color: $secondaryColor;
        /*
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center !important;
        align-items: flex-start !important;
        
        height: 100px;
        color: white; 
        background-color: $secondaryColor;
        padding: 29px;
        margin-bottom: 70px;
        */
    }
    
    h2 ~ h3,
    h2 ~ h4 {
        color: $primaryColor;
    }
    
    h1 {
        color: $secondaryColor !important;
        font-size: 300% !important;
        margin: 0px;
        line-height: 1;
        // outline: 1px solid red;
        padding: 0px;
        margin-bottom: 30px;

    	&::before { 
    		content: "";
    		display: block;
        	height: 300px;
        	width: 300px;
        	margin-bottom: 30px;
        	// padding-left: 100%;
        	// overflow: hidden;
        	background-image: url(logo-gyr.png);
        	background-repeat: no-repeat;
        	background-size: 300px auto;
        	background-position: center left;
    	}
    }
    
    h1 ~ h3  { 
        // outline: 1px solid red;
        color: $primaryColor;
        font-size: 200% !important;
        line-height: 1;
        margin: 0;
        padding: 0;
    }
    
    h2 tt { 
        /*
        color: white; 
        background-color: orange; 
        font-style: italic; 
        font-size: 60%; 
        padding: 0.125em 0.25em; 
        vertical-align: middle; 
        float: right; 
        top: 0.25em; 
        font-family: inherit; 
        */
    }
    
}


