/* @theme glenux */
@import-theme 'default';
body {
  --primary-color: #009fcb;
  --secondary-color: #241c1c;
  --text-color: #111111; }

section {
  font-size: 24px; 
  justify-content: start; }

section footer {
  opacity: 0.75;
  color: #888; }

section::after {
  opacity: 0.5;
  color: black; }

section[id="1"] h1,
section[id="1"] h2,
section[id="1"] h3,
section[id="1"] h4,
section[id="1"] h5,
section[id="1"] h6 {
  /* color: white !important; */ }

section[id="1"]::after {
  color: var(--text-color); }

section[id="1"] footer {
  color: var(--text-color); }

section.chapter {
  justify-content: center; }

/*
section.chapter h1:first-child::before,
section.chapter h2:first-child::before,
section.chapter h3:first-child::before,
section.chapter h4:first-child::before,
section.chapter h5:first-child::before {
  display: none;
}
*/

section > bc-title {
  line-height: 39px;
  font-size: 32px;
  padding-bottom: 9.36px;
}

section > h1 {
  color: var(--text-color);
}

section > bc-title:first-child,
section > h1:first-child,
section > h2:first-child,
section > h3:first-child,
section > h4:first-child,
section > h5:first-child,
section > h6:first-child {
  font-family: "Droid Sans Mono", monospace;
  color: #662d91;
  font-weight: bold;
  position: relative; }

section > bc-title:first-child::before,
section > h1:first-child::before,
section > h2:first-child::before,
section > h3:first-child::before {
  content: "";
  position: absolute;
  display: block;
  top: 0.2em;
  left: -100px;
  width: 70px;
  height: 0.9em;
  background-color: white; 
}


section > bc-title:first-child::before,
section > h1:first-child::before,
section > h2:first-child::before,
section > h3:first-child::before,
section > h4:first-child::before,
section > h5:first-child::before,
section > h6:first-child::before
{
  content: "";
  position: absolute;
  display: block;
  top: 0.2em;
  left: -100px;
  width: 70px;
  height: 0.9em;
background-color: #662d91; }


section:not(.chapter) > h2:first-child {
  font-size: 100%; }

a {
  color: inherit;
  text-decoration: underline; }

blockquote {
  color: inherit; }

bc-row {
  margin-top: 20px;
  margin-bottom: auto;
  /* outline: 1px solid red; */
  /* padding: 10px; */
  box-sizing: border-box;
  display: flex;
}

bc-row > bc-column {
  /* outline: 1px solid red; */
  margin-left: 100px;
  flex-basis: 100%;
  height: 100%;
}


bc-row > bc-column {
  /* outline: 1px solid red; */
  margin-left: 100px;
  flex-basis: 100%;
  height: 100%;
}

bc-row > bc-column[bc-grey] {
  background-color: #eeeeee;
  padding: 24px;
}

bc-row > bc-column:first-of-type {
  margin-left: 0px;
}

bc-row > bc-column > h1:first-child,
bc-row > bc-column > h2:first-child,
bc-row > bc-column > h3:first-child,
bc-row > bc-column > h4:first-child,
bc-row > bc-column > h5:first-child,
bc-row > bc-column > h6:first-child {
  margin-top: 0;
}

